# Gradle

.gradle/
**/build/
!**/src/**/build/

gradle-app.setting
.gradletasknamecache

!gradle-wrapper.jar
!gradle-wrapper.properties


# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/

# Java / Spring
*.class
application-local.yml
application-local.properties

# Logs
*.log
logs/